# Node.js dependencies
node_modules/

#fail

example_for_bot.js

# dotenv environment variables file
.env

# Logs
*.log

# OS-specific files
Thumbs.db           # Для Windows

# VS Code settings
.vscode/
